![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

"¿Qué estamos haciendo con nuestros residuos? Análisis y áreas de mejora para no desechar un planeta con futuro"

### TEMA

Este trabajo se centra en el análisis de la generación y tratamiento de residuos urbanos. El análisis se enmarca en España y se pretende evaluar a nivel autonómico, debido a que se trata de una competencia transferida. Se abordarán tipologías de residuos, tratamientos y variables influyentes en este campo. La serie temporal principal proveé de datos hasta 2021, por lo tanto, es posible que sea la limitación temporal final.

El propósito o destino primero de este análisis está en el análisis y supervisión administrativa, los gobiernos requieren cada vez más de información en el área de sostenibilidad para su gestión. Por lo tanto, abre oportunidades empresariales vinculadas a la mejora en la gestión de datos y también en el área de la economía circular y del empleo verde.

El residuo es un área medioambiental a la que se le ha dado relevancia por la propia necesidad de gestión del mismo. Tanto Unión Europea como ONU encuentran preocupante el aumento y la gestión que se hace del mismo, llegando a considerarse  un Objetivo de  Desarrollo Sostenible (Nº11) y a nivel europeo contar con objetivos de reducción que históricamente no llegan a alcanzarse por los territorios y ciudadanos (en cierto modo ajenos).

Dónde hay un área de trabajo también hay soluciones, las técnicas de gestión del residuo continúan en desarrollo, las políticas públicas van en la misma dirección y la concienciación sobre la reducción en la generación de residuos va en aumento. Por último, como parte clave de este engranaje está la economía circular, que toma como inputs de producción los propios residuos, reduce la generación ecodiseñando o mejorando la forma de consumo. 


 ![imagen](./img/basura.jpg)

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

hipotesis_1 = "La generación de residuos va en aumento y las técnicas de tratamiento menos nocivas (reciclado) crecen despacio"

hipotesis_2 = "Hay diferencia en la gestión de residuos según el territorio"<br>
hipotesis_3 = "Hay fracciones de residuos consideradas más sostenibles que están creciendo -papel- y que no se reciclan tanto"<br>
hipotesis_4 = "En las Comunidades donde se sitúan las principales ciudades hay mayor generación de residuos per capita"<br>
hipotesis_5 = "Las actividades económicas que generan más residuos no son las que más invierten y gastan en la protección medioambiental de residuos"<br>
hipotesis_6 = "El gasto/inversión de empresas y gobiernos para la protección ambiental de residuos va en aumento a una velocidad menor a la generación"<br>
hipotesis_7 = "Las actividades económicas que generan más residuos no son las que más invierten y gastan en la protección medioambiental de residuos"<br>
hipotesis_8 = "España no obtiene resultados destacados en reducción de residuos y en su reciclado respecto a Europa"<br>

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [20]:
import pandas as pd
# guarda en variables los datasets y su fuente
df_1 = pd.read_csv("./data/1.48824.csv", encoding="latin1")
#fuente_1 = "Cantidad de residuos urbanos recogidos clasificados por tipo de residuo, periodo y comunidades autónomas. INE"
#https://www.ine.es/jaxi/Datos.htm?tpx=48824

# df_2 = pd.DataFrame()
df_2 = pd.read_csv("./data/2.49287.csv", encoding="latin1")
# fuente_2 = "Cantidad per cápita de residuos recogidos por comunidades autónomas,periodo y clase de residuos. INE"
#https://www.ine.es/jaxi/Tabla.htm?tpx=49287&L=0

df_3 = pd.read_csv("./data/3.48818.csv", encoding="latin1")
# fuente_3 = "Gasto en protección ambiental por tipo de gasto y ámbito medioambiental. Todas las actividades.INE"
#https://www.ine.es/jaxi/Tabla.htm?tpx=48818&L=0

df_4 = pd.read_csv("./data/4.48821.csv", encoding="latin1")
# fuente_4 = "Inversión en protección ambiental por tipo de equipo e instalación, ámbito medioambiental y agrupación de actividad económica.INE"
#https://www.ine.es/jaxi/Tabla.htm?tpx=48821&L=0

df_5 = pd.read_csv("./data/5.53477.csv", encoding="latin1")
# fuente_5 = "Generación de residuos agregados por tipos de residuos, peligrosidad y sectores de actividad económica.INE"
#https://www.ine.es/jaxi/Tabla.htm?tpx=53477&L=0"

df_6 = pd.read_csv("./data/6.csv", encoding="latin1")
# fuente_6 = "Gasto nacional en protección ambiental por ámbito de protección ambiental, estructura porcentual y tasas de variación interanuales.INE"
#https://www.ine.es/jaxi/Tabla.htm?tpx=53472&L=0

df_7 = pd.read_csv("./data/7cei_wm011_linear.csv", encoding="latin1")
# fuente_7 = "Recycling rate of municipal waste.EUROSTAT"
#https://ec.europa.eu/eurostat/databrowser/view/cei_wm011/default/table?lang=en&category=cei.cei_wm

df_8 = pd.read_csv("./data/8cei_pc031_linear.csv", encoding="latin1")
# fuente_8 = "Generation of municipal waste per capita. EUROSTAT"
#https://ec.europa.eu/eurostat/databrowser/view/cei_pc031/default/table?lang=en&category=cei.cei_pc

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [11]:
df_1.head(3)

  Tipo de residuo;Total Nacional;Comunidades y Ciudades Autónomas;periodo;Total
0  10.1.1 Residuos domésticos y similares (domést...
1  10.1.1 Residuos domésticos y similares (domést...
2  10.1.1 Residuos domésticos y similares (domést...
3  10.1.1 Residuos domésticos y similares (domést...
4  10.1.1 Residuos domésticos y similares (domést...

In [12]:
df_2.head(3)

                                             Total Nacional;Comunidades y Ciudades Autónomas;Clase de residuos;periodo;Total
Total Nacional;;Residuos mezclados;2021;360                                                7.0
Total Nacional;;Residuos mezclados;2020;352                                                2.0
Total Nacional;;Residuos mezclados;2019;379                                                NaN
Total Nacional;;Residuos mezclados;2018;391                                                3.0
Total Nacional;;Residuos mezclados;2017;392                                                7.0

In [14]:
df_3.head(3)

  Tipo de gasto;Ámbito medioambiental;periodo;Total
0                  INVERSIÓN;Total;2021;905.450.137
1                  INVERSIÓN;Total;2020;613.830.529
2                  INVERSIÓN;Total;2019;736.678.289

In [15]:
df_4.head(3)

  Tipo de equipo e instalación;Ámbito medioambiental;Agrupación de actividad económica;periodo;Total
0  INVERSIÓN EN EQUIPOS E INSTALACIONES INDEPENDI...
1  INVERSIÓN EN EQUIPOS E INSTALACIONES INDEPENDI...
2  INVERSIÓN EN EQUIPOS E INSTALACIONES INDEPENDI...

In [16]:
df_5.head(3)

                                                    Sectores de actividad económica agregados;Categoría de residuos (CER-Stat) agregada;Peligrosidad;año;Total
A: Agricultura ganadería silvicultura y pesca;(...                                               30.0
A: Agricultura ganadería silvicultura y pesca;(...                                               60.0
A: Agricultura ganadería silvicultura y pesca;(...                                                0.0

In [17]:
df_6.head(3)

                                  Tipo de indicador;Ámbito de protección ambiental;periodo;Total
Gasto;TOTAL;2022 (avance);24.812                                               60.0
Gasto;TOTAL;2021;21.382                                                        40.0
Gasto;TOTAL;2020;19.324                                                        60.0

In [21]:
df_7.head(3)

  DATAFLOW;LAST UPDATE;freq;wst_oper;unit;geo;TIME_PERIOD;OBS_VALUE;OBS_FLAG
0  ESTAT:CEI_WM011(1.0);08/02/2024 11:00;A;RCY;PC...
1  ESTAT:CEI_WM011(1.0);08/02/2024 11:00;A;RCY;PC...
2  ESTAT:CEI_WM011(1.0);08/02/2024 11:00;A;RCY;PC...

In [22]:
df_8.head(3)

  DATAFLOW;LAST UPDATE;freq;wst_oper;unit;geo;TIME_PERIOD;OBS_VALUE;OBS_FLAG
0  ESTAT:CEI_PC031(1.0);08/02/2024 11:00;A;GEN;KG...
1  ESTAT:CEI_PC031(1.0);08/02/2024 11:00;A;GEN;KG...
2  ESTAT:CEI_PC031(1.0);08/02/2024 11:00;A;GEN;KG...